.footer-wrap {
    bottom: 0;
    align-self: flex-end;
}

.main-container {
    /* background-color: red !important; */
}

table img {
    width: 0px;
    transition: 0.5s;
    cursor: pointer;
}

span.preview-foto {
    cursor: pointer !important;
}